<!-- Concert Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext[current_lang].concert.section | default: "concert" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[current_lang].concert.title | markdownify | default: "Concert" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[current_lang].concert.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
      {% for project in site.concert %}
      <div class="col-md-4 col-sm-6 concert-item">
        <a class="concert-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="concert-hover">
            <div class="concert-hover-content">
              <i class="{{ site.data.style.concert-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.thumbnail }}" alt="">
        </a>
        <div class="concert-caption">
          <h4>{{ project[current_lang].title }}</h4>
          <p class="text-muted">{{ project.date_str }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% include concert_modals.html %}
