<!-- Concert Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext[current_lang].concert.section | default: "concert" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[current_lang].concert.title | markdownify | default: "Concert" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[current_lang].concert.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
      {%- assign collection_name = "concerts" | append: "_" | append: current_lang -%}
      {% for concert in site[collection_name] reversed %}
      <div class="col-md-4 col-sm-6 concert-item">
        <a class="concert-link" href="{{ concert.id }}">
          <div class="concert-hover">
            <div class="concert-hover-content">
              <i class="{{ site.data.style.concert-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ concert.image }}" alt="">
        </a>
        <div class="concert-caption">
          <h4>{{ concert.title }}</h4>
          <p class="text-muted">{{ concert.date_str }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
