<!-- Presentation -->
<section class="page-section" id="{{ site.data.sitetext[current_lang].presentation.section | default: "presentation" }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
	<span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-comment fa-stack-1x fa-inverse"></i>
	</span>
      </div>
      <div class="col-lg-9">
	<h4 class="service-heading text-center">{{ site.data.sitetext[current_lang].presentation.title | default: "Presentation" }}</h4>
	<div>{{ site.data.sitetext[current_lang].presentation.text | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
